[submodule "firmware/whitewhale"]
	path = firmware/whitewhale
	url = https://github.com/Dewb/whitewhale
	branch = vcvrack_pr
[submodule "firmware/teletype"]
	path = firmware/teletype4
	url = https://github.com/Dewb/teletype
	branch = vcvrack-4.0.0
[submodule "firmware/meadowphysics"]
	path = firmware/meadowphysics
	url = https://github.com/Dewb/meadowphysics
	branch = vcvrack
[submodule "firmware/earthsea"]
	path = firmware/earthsea
	url = https://github.com/Dewb/earthsea
	branch = vcvrack
[submodule "firmware/ansible"]
	path = firmware/ansible
	url = https://github.com/Dewb/ansible
	branch = vcvrack
[submodule "firmware/firmware/teletype-5"]
	path = firmware/teletype5
	url = https://github.com/Dewb/teletype
	branch = vcvrack-5
[submodule "firmware/whitewhale-kria"]
	path = firmware/whitewhale-kria
	url = https://github.com/Dewb/kria
	branch = vcvrack
