[submodule "firmware/whitewhale"]
	path = firmware/whitewhale
	url = https://github.com/Dewb/whitewhale
	branch = vcvrack_pr
[submodule "firmware/teletype"]
	path = firmware/teletype
	url = https://github.com/Dewb/teletype
	branch = vcvrack
[submodule "firmware/meadowphysics"]
	path = firmware/meadowphysics
	url = https://github.com/Dewb/meadowphysics
	branch = vcvrack
[submodule "firmware/earthsea"]
	path = firmware/earthsea
	url = https://github.com/Dewb/earthsea
	branch = vcvrack
