[submodule "firmware/whitewhale"]
	path = firmware/whitewhale
	url = https://github.com/Dewb/whitewhale
	branch = vcvrack_pr
[submodule "firmware/teletype"]
	path = firmware/teletype
	url = https://github.com/Dewb/teletype
	branch = vcvrack
